<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'main' %}">Bank Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'main' %}">Home</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'restration' %}">Restration</a></li>

    </ul>
  </div>
</nav>

<h1>Welcome to Bank Apllication</h1>



</body>
</html>
